<!DOCTYPE html>
<html>

  <head>
    <title>Scrabble Scoring</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="css" href="stylesheets/styles.css">
  </head>

  <body>
    <header>
      <h1>Scrabble Scoring</h1>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/score">Score One Word</a><li>
        <li><a href="/score-many">Score Many Words</a><li>
      </ul>
    </nav>

    <article>
      <%= yield %>
    </article>

    <footer>
      <p>ScrabbleScoring, LLC</p>
    </footer>

  </body>

</html>
