<div class="params">
  <% params %>
</div>

<article>
  <form action="" method="post" accept-charset="utf-8">
    <label for="word">Word to Score:</label>
    <input type="text" name="word_hash[word]" value="" id="word">

    <input type="submit" value="Submit">

<% if @word %>
    <p>
      <%= @word.word %> is worth <%= @word.score %> points.
    </p>
<% end %>

  </form>
</article>
